body{
    font-family: "courier new";
    font-size:80%;
    color: #28FE14;
    }
    
    .xBody{
    width:660px;
    height:450px;
    position:absolute;
    z-index: 9;
    }
    .ssh{
    display:none;
    z-index: 9;
    }
    .sshBox{
    height:300px;
    border: 4px solid white;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4x;
        -khtml-border-radius: 4px;
        border-radius: 4px;
        z-index: 9;
    }
    .sshHead{
    margin-bottom: 5px;
    color:black;
    font-weight: bold;
    background-color: white;
    height:20px;
    z-index: 9;
    
    }
    
    .greenBox{
    padding-left: 3px;
    position: absolute;
    height:22px;
    border: 1px solid #28FE14;
    z-index: 9;
    }
    .picz{
    position: absolute;
    width:500px;
    height:80%;
    display:none;
    right:2px;
    top:2px;
    }

    @font-face {
        font-family: 'Fauna One';
        font-style: normal;
        font-weight: 400;
        src: local('Fauna One'), local('FaunaOne-Regular'), url(http://fonts.gstatic.com/s/faunaone/v5/ev-FaPpZYwwjm7lSlYKlFRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
        unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
      }
      
      @font-face {
        font-family: 'Fauna One';
        font-style: normal;
        font-weight: 400;
        src: local('Fauna One'), local('FaunaOne-Regular'), url(http://fonts.gstatic.com/s/faunaone/v5/cSd7NBXNFQWK4oX1706dY1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;